@media (min-width: 480px) {
	.nav {
		font-size: 1.2em;
	}

	p {
		font-size: 1.15em;
	}

	#course-table {
		font-size: 1.2em;
	}
}

body {
	padding-top: 50px;
}

#course-table {
	margin-top: 35px;
}

.navbar-brand {
	color: #fff !important;
}

.well-white {
	padding: 20px;
	background: #EEE;
	border: 1px #CCC solid;
	border-radius: 7px;
	color: #333;
}

.well-white a {
	color: #666;
}

.well-white a:hover {
	color: #999;
}

.well-light {
	padding: 10px;
	background: #BFC7CA;
	border: 1px #CCC solid;
	border-radius: 4px;
	color: #000;
}

#well-left-1 {
	padding: 10px;
	background: #CFE2F3;
	border: 1px #777 solid;
	border-radius: 4px;
}

#well-left-2 {
	padding: 10px;
	background: #F4CCCC;
	border: 1px #777 solid;
	border-radius: 4px;
	margin-top: 10px;
}

#well-left-3 {
	padding: 10px;
	background: #D9EAD3;
	border: 1px #777 solid;
	border-radius: 4px;
	margin-top: 10px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.col-small {
	max-width: 350px;
	line-height: 1.65em;
}