<h1 class="text-center">聯絡我們</h1>
<div class="well-white container-fluid text-center">
	<h2>【B03 幹部名單】</h2>
	<p>
		會長：許秉鈞<br>
		副會長：林芳宇<br>
		活動長：何芷寧、袁培傑、楊正彥<br>
		學術長：孫凡耕、劉禹辰、郭子生<br>
		資訊長：王子朋、王彥稀<br>
		行銷長：曾耕森、林宣竹<br>
		公關長：郭恆成、楊景鈞<br>
		美宣長：林奕廷、郭笛萱<br>
		總務： 楊仲萱、陳尚緯<br>
		體育：洪紹鈞<br>
		文書：劉馥瑄<br>
		場務：簡睿廷<br>
		衛生：楊其昇<br>
		雜貨部長：謝䔶如
	</p>
	<p>
		<a href="https://www.messenger.com/t/ntuee.org" target="_blank" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 私訊粉專</a>
	</p>
	<h3>【網頁設計】</h3>
	<p>
		B04 方致偉、陳凱風
	</p>
</div>